@charset "UTF-8";

*{
  margin:0;
  padding:0;
}

body{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  width: 100%;
  margin: 0 auto;
}
