//new.html.erb

.form-horizontal{
    margin: 100px 0 0 0;
}

.update-button input{
    margin: 40px 0 0 0;
    height: 60px;
}


//show.html.erb
.title-bar {
    font-size: 25px;
    margin: 20px 0 10px 0;
}

.edit-button {
    margin: 40px 0 0 0;
}
