//new.html.erb

.form-horizontal{
    margin: 100px 0 0 0;
}

.update-button {
    margin: 40px 0 0 0;
}


//show.html.erb
.title-bar {
    font-size: 25px;
    margin: 20px 0 10px 0;
}

.buttons {
    margin: 40px 0 0 0;
}

.button {
    margin: 0 30px 0 0;
}
